*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.top{
    height: 10vh;
    width: 100vw;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
ul{
    margin: 52px;
}
.social{
    margin: 7px;
    padding: 14px;
}
.navbar{
    height: 10vh;
    width: 100vw;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.item{
  padding: 5px;
}
.logo img{
    height: 10px;
    width: 10px;
}
.carousel{
    max-width: 100%;
    position: relative;
    margin: auto;
}
/* .slides{
    display: none;
} */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
.slides img{
    height: 291px;
    width: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .mid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .service{
    text-align: center;
  }
  .cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    
  }
  .first{
    border: 2px solid black;
    padding: 20px;  
    text-align: center;
  }
  .first img{
    height: 40px;
    width: 40px;
    
  }